<footer class="footer">
    <div class="card">
        <div class="card-body">
          <p class="card-text">Programming is learned by writing programs. ― Brian Kernighan</p>
          <span>Please Do Visit My Github :</span>
          <a href="https://github.com/prashantghadiali" target="_blank" class="btn btn-primary">Git Link</a>
        </div>
      </div>
</footer>